<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean name="customerRepository"
         class="com.sample.repository.HibernateCustomerRepository"/>

    <bean name="customerService"
          class="com.service.CustomerService">
    <constructor-arg index="0" ref="customerRepository"/>
    </bean>

<!--    <bean name="customerService"-->
<!--          class="com.service.CustomerService" autowire="constructor"/> -->

<!--    <bean name="customerService"-->
    <!--          class="com.service.CustomerService" autowire="byType"/> arguments in the setter-->
    <!--    <bean name="customerService"-->
    <!--          class="com.service.CustomerService" autowire="byName"/> arguments in the setter-->


</beans>